@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    height: 100%;
}

body,
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    --merlin: #41403E;
    --athens-gray: #F9FAFB;
}

a, button, html, input, option, p, select, table, tbody, td, textarea, th, thead, tr {
    font-family: Neucha, sans-serif;
}

ul li:before {
    content: none
}

input:focus, select:focus, textarea:focus {
    border: 1px solid var(--merlin);
}